##### Creating dataframes form disctionary

In [1]:
peoples={
"name":["bhavik",'jay'],
    "emails":["bhavik@gmail.com",'jay@gamil.com'],
}

In [2]:
peoples

{'name': ['bhavik', 'jay'], 'emails': ['bhavik@gmail.com', 'jay@gamil.com']}

In [3]:
peoples['name']

['bhavik', 'jay']

In [4]:
import pandas as pd

In [5]:
df=pd.DataFrame(peoples)

In [6]:
df

     name            emails
0  bhavik  bhavik@gmail.com
1     jay     jay@gamil.com

In [7]:
df['name']

0    bhavik
1       jay
Name: name, dtype: object

In [8]:
df[['emails','name']]

             emails    name
0  bhavik@gmail.com  bhavik
1     jay@gamil.com     jay

In [9]:
df.columns

Index(['name', 'emails'], dtype='object')

In [10]:
df.iloc[0]

name                bhavik
emails    bhavik@gmail.com
Name: 0, dtype: object

In [11]:
df.iloc[[0,1],1]

0    bhavik@gmail.com
1       jay@gamil.com
Name: emails, dtype: object

In [12]:
df.loc[[0,1],['emails','name']]

             emails    name
0  bhavik@gmail.com  bhavik
1     jay@gamil.com     jay

In [13]:
df['name']

0    bhavik
1       jay
Name: name, dtype: object

In [14]:
df

     name            emails
0  bhavik  bhavik@gmail.com
1     jay     jay@gamil.com

In [15]:
df.set_index('emails')

                    name
emails
bhavik@gmail.com  bhavik
jay@gamil.com        jay

In [16]:
df

     name            emails
0  bhavik  bhavik@gmail.com
1     jay     jay@gamil.com

In [17]:
df.set_index('emails', inplace=True)

In [18]:
df

                    name
emails
bhavik@gmail.com  bhavik
jay@gamil.com        jay

In [20]:
df.loc['bhavik@gmail.com']

name    bhavik
Name: bhavik@gmail.com, dtype: object

In [21]:
df.reset_index(inplace=True)

In [22]:
df

             emails    name
0  bhavik@gmail.com  bhavik
1     jay@gamil.com     jay